
.btn-group-special .btn-group:first-child .btn:first-child{ border-bottom-left-radius: 0; }
.btn-group-special .btn-group:first-child .btn:last-child{ border-bottom-right-radius: 0; }
.btn-group-special .btn-group:last-child .btn:first-child{ border-top-left-radius: 0; }
.btn-group-special .btn-group:last-child .btn:last-child{ border-top-right-radius: 0; }

.login .btn {
  margin-top: 5px;
}

/* All links in a pager should have equal width */
.pagination > li > a,
.pagination > li > span {
  width: 40px;
}
